## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**Team ID: PNT2022TMID21560**

**Team Members:**<br>
Soumyah K M - 917719IT097 <br>
Heevitha R - 917719IT034<br>
Priyanka S - 917719IT071<br>
Ubhanisha Sri C - 917719IT113

** What is 7 to the power of 4?**

In [1]:
x=pow(7,4)
print(x)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"

In [3]:
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [10]:
#lists are mutable
#tuples are immutable
#example code given below

In [11]:
#list - mutable
list = [0,1,2,3,4,5]
print("original list",list)
list[2]=7
print("changed list",list)

original list [0, 1, 2, 3, 4, 5]
changed list [0, 1, 7, 3, 4, 5]

In [12]:
#tuple - immutable
tuple1 = (0,1,2,3,4,5)
#tuple1[0] = 7
#on removing the comment in the previous line, it will throw an type error
print(tuple1)

(0, 1, 2, 3, 4, 5)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def getDomain(email):
  return email.split('@')[-1]

In [14]:
getDomain("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def containsDog(str):
  return "dog" in str.lower().split()

In [16]:
containsDog("The dog was playing in the garden")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def DogCount(str):
  count=0
  for word in str.lower().split():
    if word=='dog':
      count+=1
  return count

In [18]:
DogCount("The black dog , white dog and the other dog were having a race")

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [20]:
caught_speeding(90,True)

'Big Ticket'

In [21]:
caught_speeding(65,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [26]:
invi_emp = int(input('Enter total number of employees:'))
total_emp = 0
for num in range(invi_emp):
    basic=float(input("Enter Basic Salary for each employee:"))
    da=float(basic*0.25)
    hra=float(basic*0.15)
    pf=float((basic+da)*0.12)
    ta=float(basic*0.075)
    netpay=float(basic+da+hra+ta)
    grosspay=float(netpay-pf)
    total_emp += grosspay
print("Total salary of all employee",total_emp)

Enter total number of employees:3
Enter Basic Salary for each employee:50000
Enter Basic Salary for each employee:25000
Enter Basic Salary for each employee:10000
Total salary of all employee 112625.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [27]:
dict1 = {'EmpId':1,'EmpName':'emp1','BasicPay':1000}
dict2 = {'DeptName':'IT','DeptId':101}
dict3 = {**dict1,**dict2}
print(dict3)

{'EmpId': 1, 'EmpName': 'emp1', 'BasicPay': 1000, 'DeptName': 'IT', 'DeptId': 101}